# I only want to track select files, so ignore everything, then selectively 
# un-ignore certain extensions, then extend that un-ignoring to all subfolders.

# ignore everything
*

# keep Excel files
!*.xlsx

# keep Word files
!*.docx
